<CascadingValue Value="this">
    <ul class="nav nav-pills nav-fill mb-3">
        @foreach (TabPage tabPage in Pages)
        {
            <li class="nav-item">
                <a class="nav-link @GetButtonClass(tabPage)" href="#"
                   @onclick=@( () => ActivatePage(tabPage) )>
                    @tabPage.Text
                </a>
            </li>
        }
    </ul>
    @ChildContent
</CascadingValue>

@code {
    // Next line is needed so we are able to add <TabPage> components inside
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public Action<TabPage> ActivePageChanged { get; set; }

    [Parameter]
    public TabPage ActivePage { get; set; }
    List<TabPage> Pages = new List<TabPage>();

    internal void AddPage(TabPage tabPage)
    {
        Pages.Add(tabPage);
        if (Pages.Count == 1)
        {
            ActivePage = tabPage;
        }
        StateHasChanged();
    }

    string GetButtonClass(TabPage page)
    {
        return page == ActivePage ? "active" : "";
    }

    internal void ActivatePage(TabPage page)
    {
        ActivePage = page;
        ActivePageChanged?.Invoke(ActivePage);
    }
}